@import 'tailwindcss';

:root {
	--zemin: #0b0b0b;
	--yuzey: #141414;
	--kenar: #232323;
	--metin: #f1efe8;
	--metin-ikincil: #b4b2a9;
	--metin-soluk: #888780;
}

body {
	background: var(--zemin);
	color: var(--metin);
}
